body {
    background-color: #FAFAFA;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
    margin: .5em 00;
}

select, input, button {
    font-size: inherit;
}

div.axis-picker {
    margin: .5em;
    display: flex;
    flex-direction: row;
    gap: .5em;
}

img.image-loading {
    opacity: 0.5;
}

img.image-error::before {
    content: "No Image";
    color: red;
}

div.catalog-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5em;
    margin: .5em;

    img {
        cursor: zoom-in;

        margin: 0; padding: 0;
        width: 33.3%;
    }
}